

#mainPage{
    width: 100%;
    display: flex;
}
#left{
    width: 50%;
}
#right{
    width: 50%;
    height: 100vh;
    overflow-y: scroll;
}

.navBtn {
    margin: 1%;
    text-decoration: none;
    border: none;
    background-color: black;
    color: white;
    font-size: large;
    font-family: "Space Mono", monospace;
}

.navBtn:hover{
    color: grey;
}

#twitterPage{
    display: flex;
    flex-direction: column;
}